<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${title}">Page title</title>
    <link rel="stylesheet" href="/css/notion.css">
</head>
<body>
<article class="notion-page">
    <header>
        <h1 class="notion-heading-1" th:text="${title}">Page title</h1>
    </header>
    <section>
        <th:block th:replace="~{notion/fragments :: blocks(${blocks})}"></th:block>
    </section>
</article>
</body>
</html>
